In [1]:
# Q1. Create one variable containing following type of data:
# (i) string
# (ii) list
# (iii) float
# (iv) tuple

In [2]:
m = "Hello Python" #example of (i)

In [3]:
print(m)

Hello Python

In [4]:
l = [1,2,3,4,5,6,7,8,9] #example of (ii)

In [5]:
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
num1 = 10 #example of (iii)

In [7]:
num2 = float(num1)

In [8]:
print("num2", num2)

num2 10.0

In [9]:
fruits = ('apple', 'banana', 'mango') #example of iv

In [10]:
print(fruits)

('apple', 'banana', 'mango')

In [15]:
print(fruits[0])

apple

In [16]:
print(fruits[1])

banana

In [17]:
#Q2. Given are some following variables containing data:
#(i) var1 = ‘ ‘
#(ii) var2 = ‘[ DS , ML , Python]’
#(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
#(iv) var4 = 1.

In [18]:
var1 = ''

In [19]:
type(var1)

str

In [25]:
var2 = '[DS, ML, Python]'

In [26]:
type(var2)

str

In [33]:
var3 = ['DL', 'ML', 'Python']

In [34]:
type (var3)

list

In [35]:
var4 = 1

In [36]:
type(var4)

int

In [37]:
#Q3. Explain the use of the following operators using an example:
#(i) /
#(ii) %
#(iii) //
#(iv) **

In [38]:
#all of these earthmatic operator

In [39]:
result = 10/3 #example of i (division operator)

In [40]:
print(result)

3.3333333333333335

In [41]:
remainder = 10%3 #example of ii (The % operator is used for the modulus operation, which returns the remainder of the division of two numbers.)

In [42]:
print(remainder)

1

In [45]:
result = 10//3 #example of iii (The // Floor Division operator is used for floor division, 
# which returns the quotient as an integer, rounding down to the nearest whole number.

In [46]:
print(result)

3

In [47]:
results = 2**3 #example of iv (The Exponentiation  operator is used for exponentiation, which raises the left operand to the power of the right operand.)

In [49]:
print(results)

8

In [50]:
# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [51]:
l = [10, 3.14, "Python", True, [1, 2, 3], {"name": "John", "age": 30}, None, (1, 2, 3), False, "Hello"]

In [53]:
for element in l:
    print ('Element' , element, "Data Type" , type(element))

Element 10 Data Type <class 'int'>
Element 3.14 Data Type <class 'float'>
Element Python Data Type <class 'str'>
Element True Data Type <class 'bool'>
Element [1, 2, 3] Data Type <class 'list'>
Element {'name': 'John', 'age': 30} Data Type <class 'dict'>
Element None Data Type <class 'NoneType'>
Element (1, 2, 3) Data Type <class 'tuple'>
Element False Data Type <class 'bool'>
Element Hello Data Type <class 'str'>

In [ ]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [55]:
# Input numbers A and B
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

# Initialize a variable to count the number of divisions
count = 0

# Check if A is divisible by B
while A >= B:
    A -= B
    count += 1

# Print the result
if A == 0:
    print(f"{B} is a divisor of {A} and it can be divided {count} times.")
else:
    print(f"{B} is not a divisor of {A}. The remainder is {A}.")

Enter number A:  10
Enter number B:  50

50 is not a divisor of 10. The remainder is 10.

In [56]:
# Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [57]:
# Create a list containing 25 integers
my_list = [10, 15, 7, 30, 21, 18, 9, 12, 5, 27, 14, 22, 33, 25, 6, 19, 20, 3, 17, 24, 31, 28, 4, 11, 16]

# Using a for loop and if-else condition to check divisibility by 3
for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

10 is not divisible by 3.
15 is divisible by 3.
7 is not divisible by 3.
30 is divisible by 3.
21 is divisible by 3.
18 is divisible by 3.
9 is divisible by 3.
12 is divisible by 3.
5 is not divisible by 3.
27 is divisible by 3.
14 is not divisible by 3.
22 is not divisible by 3.
33 is divisible by 3.
25 is not divisible by 3.
6 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
3 is divisible by 3.
17 is not divisible by 3.
24 is divisible by 3.
31 is not divisible by 3.
28 is not divisible by 3.
4 is not divisible by 3.
11 is not divisible by 3.
16 is not divisible by 3.

In [58]:
# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [61]:
#Mutable data is which we can change after we create it. Example - List, Dis & Sets
l = [3, 4, 5]
print("Original List:", l)

l.append(4)
print("Modified List:", l)

Original List: [3, 4, 5]
Modified List: [3, 4, 5, 4]

In [63]:
#Immutable data types, on the other hand, are those whose values cannot be changed after they are created. Example are - int, float, string & Tuples
s = "Hello "
print("Original String:", s) 

s += "Rahil Malik"
print("Modified String:", s)

Original String: Hello
Modified String: Hello Rahil Malik