In [1]:
#1. Write a program to reverse a string.

In [25]:
#First we need to create a string
s = 'we are going to reverse this string'

In [27]:
s

'we are going to reverse this string'

In [30]:
reversed_string = s[::-1]

In [31]:
print(reversed_string)

gnirts siht esrever ot gniog era ew

In [32]:
#2. Check if a string is a palindrome.

In [38]:
s1 = input("Enter your string input") #example of not a palindrome

s2 = s1[::-1]

if s1==s2:
    print('Yes this is palindrome')
else:
    print('this is not a palindrome')

Enter your string input Tell me your name

this is not a palindrome

In [39]:
s1 = input("Enter your string input") #example of a palindrome

s2 = s1[::-1]

if s1==s2:
    print('Yes this is palindrome')
else:
    print('this is not a palindrome')

Enter your string input ababa

Yes this is palindrome

In [40]:
#3. Convert a string to uppercase.

In [58]:
s3 = ('what are you doing today, I am going to complete my 2nd assignment')

In [59]:
s3

'what are you doing today, I am going to complete my 2nd assignment'

In [62]:
s3.upper()

'WHAT ARE YOU DOING TODAY, I AM GOING TO COMPLETE MY 2ND ASSIGNMENT'

In [63]:
#4. Convert a string to lowercase.

In [64]:
s4 = 'WE ARE GOING TO CHANGE THIS TEXT TO LOWER CASE'

In [65]:
s4.lower()

'we are going to change this text to lower case'

In [66]:
#5. Count the number of vowels in a string.

In [67]:
# Taking input from the user
input_string = input("Enter a string: ")

# Converting the input string to lowercase for case-insensitive counting
input_string = input_string.lower()

# Initializing a variable to count vowels
vowel_count = 0

# List of vowels
vowels = "aeiou"

# Counting the vowels in the input string
for char in input_string:
    if char in vowels:
        vowel_count += 1

# Displaying the count of vowels
print("Number of vowels in the string:", vowel_count)

Enter a string:  what we are going to do today?

Number of vowels in the string: 10

In [68]:
#6. Count the number of consonants in a string.

In [69]:
# Taking input from the user
input_string = input("Enter a string: ")

# Converting the input string to lowercase for case-insensitive counting
input_string = input_string.lower()

# Initializing a variable to count consonants
consonant_count = 0

# List of vowels
vowels = "aeiou"

# Counting the consonants in the input string
for char in input_string:
    if char.isalpha() and char not in vowels:
        consonant_count += 1

# Displaying the count of consonants
print("Number of consonants in the string:", consonant_count)

Enter a string:  what we are going to do today?

Number of consonants in the string: 13

In [70]:
#7. Remove all whitespaces from a string.

In [1]:
# Taking input from the user
input_string = input("Enter a string: ")

# Removing whitespaces using the replace() method
no_whitespace_string = input_string.replace(" ", "")

# Displaying the string with whitespaces removed
print("String with whitespaces removed:", no_whitespace_string)

Enter a string:  remove spaces

String with whitespaces removed: removespaces

In [2]:
#8. Find the length of a string without using the `len()` function.

In [1]:
def find_string_length(input_string):
    length = 0
    for char in input_string:
        length += 1
    return length

# Example usage:
my_string = "Hello, World!"
length = find_string_length(my_string)
print("Length of the string is:", length)

Length of the string is: 13

In [2]:
# 9. Check if a string contains a specific word.

In [3]:
def contains_word(input_string, target_word):
    return target_word in input_string

# Example usage:
my_string = "Hello, World! How are you today?"
word_to_check = "World"

if contains_word(my_string, word_to_check):
    print(f"The string contains the word '{word_to_check}'.")
else:
    print(f"The string does not contain the word '{word_to_check}'.")

The string contains the word 'World'.

In [4]:
# 10. Replace a word in a string with another word.

In [5]:
def replace_word(input_string, old_word, new_word):
    return input_string.replace(old_word, new_word)

# Example usage:
original_string = "Hello, World! How are you today?"
word_to_replace = "World"
replacement_word = "Universe"

result_string = replace_word(original_string, word_to_replace, replacement_word)
print("Original String:", original_string)
print("Modified String:", result_string)

Original String: Hello, World! How are you today?
Modified String: Hello, Universe! How are you today?

In [6]:
# 11. Count the occurrences of a word in a string.

In [7]:
def count_word_occurrences(input_string, word_to_count):
    # Split the input string into words using spaces as separators
    words = input_string.split()
    
    # Initialize a counter for word occurrences
    count = 0
    
    # Iterate through the words and count occurrences
    for word in words:
        if word == word_to_count:
            count += 1
    
    return count

# Example usage:
my_string = "This is a test. This test is just an example test."
word_to_count = "test"

occurrences = count_word_occurrences(my_string, word_to_count)
print(f"The word '{word_to_count}' appears {occurrences} times in the string.")

The word 'test' appears 1 times in the string.

In [8]:
#12. Find the first occurrence of a word in a string.

In [9]:
def find_first_occurrence(input_string, word_to_find):
    index = input_string.find(word_to_find)
    return index

# Example usage:
my_string = "This is a test. This test is just an example test."
word_to_find = "test"

index = find_first_occurrence(my_string, word_to_find)

if index != -1:
    print(f"The first occurrence of '{word_to_find}' starts at index {index}.")
else:
    print(f"'{word_to_find}' not found in the string.")

The first occurrence of 'test' starts at index 10.

In [10]:
# 13. Find the last occurrence of a word in a string.

In [11]:
def find_last_occurrence(input_string, word_to_find):
    index = input_string.rfind(word_to_find)
    return index

# Example usage:
my_string = "This is a test. This test is just an example test."
word_to_find = "test"

index = find_last_occurrence(my_string, word_to_find)

if index != -1:
    print(f"The last occurrence of '{word_to_find}' starts at index {index}.")
else:
    print(f"'{word_to_find}' not found in the string.")

The last occurrence of 'test' starts at index 45.

In [12]:
# 14. Split a string into a list of words.

In [13]:
def split_into_words(input_string):
    words = input_string.split()
    return words

# Example usage:
my_string = "This is a test. This test is just an example test."

word_list = split_into_words(my_string)
print(word_list)

['This', 'is', 'a', 'test.', 'This', 'test', 'is', 'just', 'an', 'example', 'test.']

In [14]:
# 15. Join a list of words into a string.

In [15]:
def join_words(word_list):
    joined_string = ' '.join(word_list)
    return joined_string

# Example usage:
word_list = ['This', 'is', 'a', 'list', 'of', 'words']

joined_string = join_words(word_list)
print(joined_string)

This is a list of words

In [16]:
# 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [17]:
def convert_spaces_to_underscores(input_string):
    modified_string = input_string.replace(' ', '_')
    return modified_string

# Example usage:
original_string = "This is a sample string with spaces."

underscored_string = convert_spaces_to_underscores(original_string)
print(underscored_string)

This_is_a_sample_string_with_spaces.

In [18]:
# 17. Check if a string starts with a specific word or phrase.

In [19]:
def starts_with(input_string, prefix):
    return input_string.startswith(prefix)

# Example usage:
my_string = "Hello, World!"
prefix_to_check = "Hello"

if starts_with(my_string, prefix_to_check):
    print(f"The string starts with '{prefix_to_check}'.")
else:
    print(f"The string does not start with '{prefix_to_check}'.")

The string starts with 'Hello'.

In [20]:
# 18. Check if a string ends with a specific word or phrase.

In [21]:
def ends_with(input_string, suffix):
    return input_string.endswith(suffix)

# Example usage:
my_string = "Hello, World!"
suffix_to_check = "World!"

if ends_with(my_string, suffix_to_check):
    print(f"The string ends with '{suffix_to_check}'.")
else:
    print(f"The string does not end with '{suffix_to_check}'.")

The string ends with 'World!'.

In [22]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [23]:
def to_title_case(input_string):
    return input_string.title()

# Example usage:
my_string = "hello world"

title_case_string = to_title_case(my_string)
print(title_case_string)

Hello World

In [24]:
# 20. Find the longest word in a string.

In [25]:
def find_longest_word(input_string):
    words = input_string.split()
    longest_word = ""

    for word in words:
        if len(word) > len(longest_word):
            longest_word = word

    return longest_word

# Example usage:
my_string = "This is a sample sentence with several words of different lengths."

longest = find_longest_word(my_string)
print(f"The longest word is: '{longest}'")

The longest word is: 'different'

In [26]:
# 21. Find the shortest word in a string.

In [27]:
def find_shortest_word(input_string):
    words = input_string.split()
    
    # Initialize shortest_word with the first word in the list
    shortest_word = words[0]

    for word in words:
        if len(word) < len(shortest_word):
            shortest_word = word

    return shortest_word

# Example usage:
my_string = "This is a sample sentence with several words of different lengths."

shortest = find_shortest_word(my_string)
print(f"The shortest word is: '{shortest}'")

The shortest word is: 'a'

In [28]:
# 22. Reverse the order of words in a string.

In [29]:
def reverse_words(input_string):
    words = input_string.split()
    reversed_string = ' '.join(reversed(words))
    return reversed_string

# Example usage:
my_string = "This is a sample string."

reversed_string = reverse_words(my_string)
print(reversed_string)

string. sample a is This

In [30]:
# 23. Check if a string is alphanumeric.

In [31]:
def is_alphanumeric(input_string):
    return input_string.isalnum()

# Example usage:
string1 = "Hello123"
string2 = "Hello 123!"  # Contains spaces and special characters

if is_alphanumeric(string1):
    print(f"'{string1}' is alphanumeric.")
else:
    print(f"'{string1}' is not alphanumeric.")

if is_alphanumeric(string2):
    print(f"'{string2}' is alphanumeric.")
else:
    print(f"'{string2}' is not alphanumeric.")

'Hello123' is alphanumeric.
'Hello 123!' is not alphanumeric.

In [32]:
# 24. Extract all digits from a string.

In [33]:
import re

def extract_digits(input_string):
    return ''.join(re.findall(r'\d', input_string))

# Example usage:
my_string = "Hello 123 World 456!"

digits = extract_digits(my_string)
print(digits)

123456

In [34]:
# 25. Extract all alphabets from a string.

In [35]:
import re

def extract_letters(input_string):
    return ''.join(re.findall(r'[a-zA-Z]', input_string))

# Example usage:
my_string = "Hello 123 World!"

letters = extract_letters(my_string)
print(letters)

HelloWorld

In [36]:
# 26. Count the number of uppercase letters in a string.

In [37]:
def count_uppercase_letters(input_string):
    count = 0
    for char in input_string:
        if char.isupper():
            count += 1
    return count

# Example usage:
my_string = "Hello World! How Are You?"

uppercase_count = count_uppercase_letters(my_string)
print("Number of uppercase letters:", uppercase_count)

Number of uppercase letters: 5

In [38]:
# 27. Count the number of lowercase letters in a string.

In [39]:
def count_lowercase_letters(input_string):
    count = 0
    for char in input_string:
        if char.islower():
            count += 1
    return count

# Example usage:
my_string = "Hello World! How Are You?"

lowercase_count = count_lowercase_letters(my_string)
print("Number of lowercase letters:", lowercase_count)

Number of lowercase letters: 14

In [40]:
# 28. Swap the case of each character in a string.

In [41]:
def swap_case(input_string):
    return input_string.swapcase()

# Example usage:
my_string = "Hello World!"

swapped_string = swap_case(my_string)
print(swapped_string)

hELLO wORLD!

In [42]:
# 29. Remove a specific word from a string.

In [43]:
def remove_word(input_string, word_to_remove):
    return input_string.replace(word_to_remove, '')

# Example usage:
my_string = "This is a sample sentence. This sentence contains the word 'sample'."

word_to_remove = "sample"

result_string = remove_word(my_string, word_to_remove)
print(result_string)

This is a  sentence. This sentence contains the word ''.

In [44]:
# 30. Check if a string is a valid email address.

In [45]:
import re

def is_valid_email(email):
    # Define a basic email pattern using regular expressions
    email_pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    
    # Use the re.match() function to check if the string matches the pattern
    if re.match(email_pattern, email):
        return True
    else:
        return False

# Example usage:
email1 = "example@email.com"
email2 = "invalid-email"
email3 = "another.example.com"

print(f"'{email1}' is a valid email: {is_valid_email(email1)}")
print(f"'{email2}' is a valid email: {is_valid_email(email2)}")
print(f"'{email3}' is a valid email: {is_valid_email(email3)}")

'example@email.com' is a valid email: True
'invalid-email' is a valid email: False
'another.example.com' is a valid email: False

In [46]:
# 31. Extract the username from an email address string.

In [47]:
def extract_username(email):
    parts = email.split('@')
    if len(parts) == 2:
        return parts[0]
    else:
        return None

# Example usage:
email = "user@example.com"

username = extract_username(email)
if username:
    print(f"The username is: {username}")
else:
    print("Invalid email address format.")

The username is: user

In [48]:
# 32. Extract the domain name from an email address string.

In [49]:
def extract_domain(email):
    parts = email.split('@')
    if len(parts) == 2:
        return parts[1]
    else:
        return None

# Example usage:
email = "user@example.com"

domain = extract_domain(email)
if domain:
    print(f"The domain name is: {domain}")
else:
    print("Invalid email address format.")

The domain name is: example.com

In [50]:
# 33. Replace multiple spaces in a string with a single space.

In [51]:
import re

def replace_multiple_spaces(input_string):
    return re.sub(r'\s+', ' ', input_string)

# Example usage:
my_string = "This   is   a    string   with   multiple    spaces."

cleaned_string = replace_multiple_spaces(my_string)
print(cleaned_string)

This is a string with multiple spaces.

In [52]:
# 34. Check if a string is a valid URL.

In [53]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        parsed_url = urlparse(url)
        return parsed_url.scheme in ('http', 'https') and parsed_url.netloc != ''
    except ValueError:
        return False

# Example usage:
url1 = "http://www.example.com"
url2 = "https://example.com"
url3 = "ftp://invalid-url"
url4 = "not_a_url"

print(f"'{url1}' is a valid URL: {is_valid_url(url1)}")
print(f"'{url2}' is a valid URL: {is_valid_url(url2)}")
print(f"'{url3}' is a valid URL: {is_valid_url(url3)}")
print(f"'{url4}' is a valid URL: {is_valid_url(url4)}")

'http://www.example.com' is a valid URL: True
'https://example.com' is a valid URL: True
'ftp://invalid-url' is a valid URL: False
'not_a_url' is a valid URL: False

In [54]:
# 35. Extract the protocol (http or https) from a URL string.

In [55]:
from urllib.parse import urlparse

def extract_protocol(url):
    try:
        parsed_url = urlparse(url)
        if parsed_url.scheme in ('http', 'https'):
            return parsed_url.scheme
        else:
            return None
    except ValueError:
        return None

# Example usage:
url1 = "http://www.example.com"
url2 = "https://example.com"
url3 = "ftp://invalid-url"
url4 = "not_a_url"

protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)
protocol4 = extract_protocol(url4)

print(f"Protocol of '{url1}': {protocol1}")
print(f"Protocol of '{url2}': {protocol2}")
print(f"Protocol of '{url3}': {protocol3}")
print(f"Protocol of '{url4}': {protocol4}")

Protocol of 'http://www.example.com': http
Protocol of 'https://example.com': https
Protocol of 'ftp://invalid-url': None
Protocol of 'not_a_url': None

In [56]:
# 36. Find the frequency of each character in a string.

In [57]:
def character_frequency(input_string):
    # Initialize an empty dictionary to store character frequencies
    frequency_dict = {}

    # Iterate through the characters in the input string
    for char in input_string:
        # Check if the character is not a space (you can modify this condition as needed)
        if char != ' ':
            # Use the get() method to increment the count for each character
            frequency_dict[char] = frequency_dict.get(char, 0) + 1

    return frequency_dict

# Example usage:
my_string = "Hello, World!"

char_freq = character_frequency(my_string)
for char, count in char_freq.items():
    print(f"'{char}' occurs {count} times")

'H' occurs 1 times
'e' occurs 1 times
'l' occurs 3 times
'o' occurs 2 times
',' occurs 1 times
'W' occurs 1 times
'r' occurs 1 times
'd' occurs 1 times
'!' occurs 1 times

In [58]:
# 37. Remove all punctuation from a string.

In [59]:
import re
import string

def remove_punctuation(input_string):
    # Define a regular expression pattern to match punctuation characters
    punctuation_pattern = re.compile('[%s]' % re.escape(string.punctuation))
    
    # Use re.sub() to replace punctuation characters with an empty string
    cleaned_string = punctuation_pattern.sub('', input_string)
    
    return cleaned_string

# Example usage:
my_string = "Hello, World! This is an example string."

cleaned_string = remove_punctuation(my_string)
print(cleaned_string)

Hello World This is an example string

In [60]:
# 38. Check if a string contains only digits.

In [61]:
def contains_only_digits(input_string):
    return input_string.isdigit()

# Example usage:
string1 = "12345"
string2 = "12abc34"
string3 = "  567  "

print(f"'{string1}' contains only digits: {contains_only_digits(string1)}")
print(f"'{string2}' contains only digits: {contains_only_digits(string2)}")
print(f"'{string3}' contains only digits: {contains_only_digits(string3)}")

'12345' contains only digits: True
'12abc34' contains only digits: False
'  567  ' contains only digits: False

In [62]:
# 39. Check if a string contains only alphabets.

In [63]:
def contains_only_alphabets(input_string):
    return input_string.isalpha()

# Example usage:
string1 = "Hello"
string2 = "Hello123"
string3 = "12345"

print(f"'{string1}' contains only alphabets: {contains_only_alphabets(string1)}")
print(f"'{string2}' contains only alphabets: {contains_only_alphabets(string2)}")
print(f"'{string3}' contains only alphabets: {contains_only_alphabets(string3)}")

'Hello' contains only alphabets: True
'Hello123' contains only alphabets: False
'12345' contains only alphabets: False

In [64]:
# 40. Convert a string to a list of characters.

In [65]:
def string_to_list(input_string):
    char_list = []
    for char in input_string:
        char_list.append(char)
    return char_list

# Example usage:
my_string = "Hello, World!"

char_list = string_to_list(my_string)
print(char_list)

['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

In [66]:
# 41. Check if two strings are anagrams.

In [67]:
def are_anagrams(str1, str2):
    # Remove spaces and convert both strings to lowercase for case-insensitive comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Check if the sorted characters of both strings are the same
    return sorted(str1) == sorted(str2)

# Example usage:
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

print(f"'{string1}' and '{string2}' are anagrams: {are_anagrams(string1, string2)}")
print(f"'{string1}' and '{string3}' are anagrams: {are_anagrams(string1, string3)}")
print(f"'{string1}' and '{string4}' are anagrams: {are_anagrams(string1, string4)}")

'listen' and 'silent' are anagrams: True
'listen' and 'hello' are anagrams: False
'listen' and 'world' are anagrams: False

In [68]:
# 42. Encode a string using a Caesar cipher.

In [69]:
def caesar_cipher_encode(input_string, shift):
    result = ""
    for char in input_string:
        if char.isalpha():  # Check if the character is a letter
            # Determine whether to shift up or down the alphabet
            if char.islower():
                shifted_char = chr(((ord(char) - ord('a') + shift) % 26) + ord('a'))
            else:
                shifted_char = chr(((ord(char) - ord('A') + shift) % 26) + ord('A'))
            result += shifted_char
        else:
            result += char  # Keep non-alphabet characters unchanged
    return result

# Example usage:
plaintext = "Hello, World!"
shift_amount = 3

encoded_text = caesar_cipher_encode(plaintext, shift_amount)
print(encoded_text)

Khoor, Zruog!

In [70]:
# 43. Decode a Caesar cipher encoded string.

In [71]:
def caesar_cipher_decode(encoded_string, shift):
    result = ""
    for char in encoded_string:
        if char.isalpha():  # Check if the character is a letter
            # Determine whether to shift up or down the alphabet to decode
            if char.islower():
                shifted_char = chr(((ord(char) - ord('a') - shift) % 26) + ord('a'))
            else:
                shifted_char = chr(((ord(char) - ord('A') - shift) % 26) + ord('A'))
            result += shifted_char
        else:
            result += char  # Keep non-alphabet characters unchanged
    return result

# Example usage:
encoded_text = "Khoor, Zruog!"
shift_amount = 3

decoded_text = caesar_cipher_decode(encoded_text, shift_amount)
print(decoded_text)

Hello, World!

In [72]:
# 44. Find the most frequent word in a string.

In [73]:
def most_frequent_word(input_string):
    # Remove punctuation and convert the string to lowercase
    cleaned_string = ''.join(char if char.isalnum() or char.isspace() else ' ' for char in input_string)
    cleaned_string = cleaned_string.lower()

    # Split the string into words
    words = cleaned_string.split()

    # Create a dictionary to store word frequencies
    word_freq = {}

    # Count the frequency of each word
    for word in words:
        if word in word_freq:
            word_freq[word] += 1
        else:
            word_freq[word] = 1

    # Find the word with the highest frequency
    most_frequent = max(word_freq, key=word_freq.get)

    return most_frequent

# Example usage:
my_string = "This is a sample sentence. This sentence contains the word 'sample'."
most_frequent_word_result = most_frequent_word(my_string)
print("Most frequent word:", most_frequent_word_result)

Most frequent word: this

In [74]:
# 45. Find all unique words in a string.

In [75]:
def unique_words(input_string):
    # Remove punctuation and convert the string to lowercase
    cleaned_string = ''.join(char if char.isalnum() or char.isspace() else ' ' for char in input_string)
    cleaned_string = cleaned_string.lower()

    # Split the string into words
    words = cleaned_string.split()

    # Use a set to store unique words
    unique_word_set = set(words)

    return list(unique_word_set)

# Example usage:
my_string = "This is a sample sentence. This sentence contains the word 'sample'."
unique_words_result = unique_words(my_string)
print("Unique words:", unique_words_result)

Unique words: ['sample', 'the', 'sentence', 'word', 'is', 'contains', 'a', 'this']

In [76]:
# 46. Count the number of syllables in a string.

In [77]:
def count_syllables(word):
    vowels = "AEIOUaeiou"
    syllable_count = 0
    prev_char_vowel = False

    for char in word:
        if char in vowels:
            if not prev_char_vowel:
                syllable_count += 1
            prev_char_vowel = True
        else:
            prev_char_vowel = False

    # Adjust for common endings
    if word.endswith(("es", "ed")):
        syllable_count -= 1
    if word.endswith("e"):
        syllable_count -= 1

    # Ensure there's at least one syllable
    syllable_count = max(1, syllable_count)

    return syllable_count

# Example usage:
word1 = "banana"
word2 = "hello"
word3 = "elephant"
word4 = "programming"
word5 = "exaggeration"

print(f"'{word1}' has {count_syllables(word1)} syllables.")
print(f"'{word2}' has {count_syllables(word2)} syllables.")
print(f"'{word3}' has {count_syllables(word3)} syllables.")
print(f"'{word4}' has {count_syllables(word4)} syllables.")
print(f"'{word5}' has {count_syllables(word5)} syllables.")

'banana' has 3 syllables.
'hello' has 2 syllables.
'elephant' has 3 syllables.
'programming' has 3 syllables.
'exaggeration' has 5 syllables.

In [78]:
# 47. Check if a string contains any special characters.

In [79]:
import re

def contains_special_characters(input_string):
    # Define a regular expression pattern to match special characters
    special_characters_pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\|/`"\'\-=]')

    # Use re.search() to check if the pattern is found in the input string
    if re.search(special_characters_pattern, input_string):
        return True
    else:
        return False

# Example usage:
string1 = "Hello, World!"
string2 = "This_is_a_special_string!"
string3 = "Alphanumeric123"

print(f"'{string1}' contains special characters: {contains_special_characters(string1)}")
print(f"'{string2}' contains special characters: {contains_special_characters(string2)}")
print(f"'{string3}' contains special characters: {contains_special_characters(string3)}")

'Hello, World!' contains special characters: True
'This_is_a_special_string!' contains special characters: True
'Alphanumeric123' contains special characters: False

In [80]:
# 48. Remove the nth word from a string.

In [81]:
def remove_nth_word(input_string, n):
    # Split the string into words
    words = input_string.split()

    # Check if the specified index is within the range of words
    if 1 <= n <= len(words):
        # Remove the nth word by excluding it from the list of words
        del words[n - 1]

        # Join the remaining words back together
        result = ' '.join(words)
        return result
    else:
        # If n is out of range, return the original string
        return input_string

# Example usage:
my_string = "This is a sample sentence. Remove the third word."
n = 3

new_string = remove_nth_word(my_string, n)
print(new_string)

This is sample sentence. Remove the third word.

In [82]:
# 49. Insert a word at the nth position in a string.

In [83]:
def insert_word_at_position(input_string, word_to_insert, n):
    # Split the string into words
    words = input_string.split()

    # Check if the specified index is within the valid range
    if 0 <= n <= len(words):
        # Insert the word at the specified position
        words.insert(n, word_to_insert)

        # Join the words back together into a string
        result = ' '.join(words)
        return result
    else:
        # If n is out of range, return the original string
        return input_string

# Example usage:
my_string = "This is a sample sentence. Insert 'new' at the fifth position."
word_to_insert = "new"
position = 4  # 0-based index, so 4 corresponds to the fifth position

new_string = insert_word_at_position(my_string, word_to_insert, position)
print(new_string)

This is a sample new sentence. Insert 'new' at the fifth position.

In [84]:
# 50. Convert a CSV string to a list of lists.

In [85]:
import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Use StringIO to create a file-like object for reading the CSV string
    csv_file = StringIO(csv_string)

    # Initialize a CSV reader
    csv_reader = csv.reader(csv_file)

    # Convert the CSV data into a list of lists
    csv_data = [row for row in csv_reader]

    return csv_data

# Example usage:
csv_string = "Name, Age, Country\nAlice, 25, USA\nBob, 30, Canada\nCharlie, 22, UK"

csv_list = csv_string_to_list(csv_string)
for row in csv_list:
    print(row)

['Name', ' Age', ' Country']
['Alice', ' 25', ' USA']
['Bob', ' 30', ' Canada']
['Charlie', ' 22', ' UK']

In [86]:
# List Based Practice Problem :

#1. Create a list with integers from 1 to 10.

In [1]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
# 2. Find the length of a list without using the `len()` function.

In [4]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
count = 0

for _ in my_list:
    count += 1

print("The length of the list is:", count)

The length of the list is: 10

In [5]:
# 3. Append an element to the end of a list.

In [6]:
my_list = [1, 2, 3, 4, 5]

# Append an element (e.g., 6) to the end of the list
my_list.append(6)

print(my_list)

[1, 2, 3, 4, 5, 6]

In [7]:
# 4. Insert an element at a specific index in a list.

In [8]:
my_list = [1, 2, 3, 4, 5]

# Insert the element 6 at index 2
my_list.insert(2, 6)

print(my_list)

[1, 2, 6, 3, 4, 5]

In [9]:
# 5. Remove an element from a list by its value.

In [10]:
my_list = [1, 2, 3, 4, 5]

# Remove the element with the value 3 from the list
my_list.remove(3)

print(my_list)

[1, 2, 4, 5]

In [11]:
# 6. Remove an element from a list by its index.

In [12]:
my_list = [1, 2, 3, 4, 5]

# Remove the element at index 2 (which is the third element)
removed_element = my_list.pop(2)

print("Removed element:", removed_element)
print("Updated list:", my_list)

Removed element: 3
Updated list: [1, 2, 4, 5]

In [13]:
# 7. Check if an element exists in a list.

In [14]:
my_list = [1, 2, 3, 4, 5]

# Check if 3 is in the list
if 3 in my_list:
    print("3 is in the list")
else:
    print("3 is not in the list")

3 is in the list

In [15]:
# 8. Find the index of the first occurrence of an element in a list.

In [16]:
my_list = [1, 2, 3, 4, 5, 3]

# Find the index of the first occurrence of the value 3
index = my_list.index(3)

print("Index of the first occurrence of 3:", index)

Index of the first occurrence of 3: 2

In [17]:
# 9. Count the occurrences of an element in a list.

In [18]:
my_list = [1, 2, 3, 4, 5, 3, 3]

# Count the occurrences of the value 3 in the list
count = my_list.count(3)

print("Occurrences of 3 in the list:", count)

Occurrences of 3 in the list: 3

In [19]:
# 10. Reverse the order of elements in a list.

In [20]:
my_list = [1, 2, 3, 4, 5]

# Reverse the order of elements in the list using slicing
reversed_list = my_list[::-1]

print("Reversed list:", reversed_list)

Reversed list: [5, 4, 3, 2, 1]

In [21]:
# 11. Sort a list in ascending order.

In [22]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

# Sort the list in ascending order using the sort() method
my_list.sort()

print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]

In [23]:
# 12. Sort a list in descending order.

In [24]:
my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

# Sort the list in descending order using the sort() method
my_list.sort(reverse=True)

print("Sorted list in descending order:", my_list)

Sorted list in descending order: [9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]

In [25]:
# 13. Create a list of even numbers from 1 to 20.

In [26]:
even_numbers = [x for x in range(1, 21) if x % 2 == 0]

In [27]:
even_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [28]:
# 14. Create a list of odd numbers from 1 to 20.

In [29]:
odd_numbers = [x for x in range(1, 21) if x % 2 != 0]

In [30]:
odd_numbers

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [31]:
# 15. Find the sum of all elements in a list.

In [32]:
my_list = [1, 2, 3, 4, 5]

# Find the sum of all elements in the list
sum_of_elements = sum(my_list)

print("Sum of all elements in the list:", sum_of_elements)

Sum of all elements in the list: 15

In [33]:
# 16. Find the maximum value in a list.

In [34]:
my_list = [10, 45, 23, 67, 32, 9]

# Find the maximum value in the list
maximum_value = max(my_list)

print("Maximum value in the list:", maximum_value)

Maximum value in the list: 67

In [35]:
# 17. Find the minimum value in a list.

In [36]:
my_list = [10, 45, 23, 67, 32, 9]

# Find the maximum value in the list
maximum_value = min(my_list)

print("Maximum value in the list:", maximum_value)

Maximum value in the list: 9

In [37]:
# 18. Create a list of squares of numbers from 1 to 10.

In [38]:
squares_list = [x ** 2 for x in range(1, 11)]

In [39]:
squares_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [40]:
# 19. Create a list of random numbers.

In [41]:
import random

# Generate a list of 10 random integers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(10)]

print("List of random numbers:", random_numbers)

List of random numbers: [96, 36, 19, 68, 78, 14, 49, 67, 2, 31]

In [42]:
# 20. Remove duplicates from a list.

In [43]:
my_list = [1, 2, 2, 3, 4, 4, 5, 5]

# Remove duplicates by converting the list to a set and then back to a list
unique_list = list(set(my_list))

print("List with duplicates:", my_list)
print("List without duplicates:", unique_list)

List with duplicates: [1, 2, 2, 3, 4, 4, 5, 5]
List without duplicates: [1, 2, 3, 4, 5]

In [44]:
# 21. Find the common elements between two lists.

In [45]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find common elements using a list comprehension
common_elements = [x for x in list1 if x in list2]

print("Common elements:", common_elements)

Common elements: [3, 4, 5]

In [46]:
# 22. Find the difference between two lists.

In [47]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Asymmetric difference (elements in list1 but not in list2)
asymmetric_difference = [x for x in list1 if x not in list2]

print("Asymmetric difference (list1 - list2):", asymmetric_difference)

Asymmetric difference (list1 - list2): [1, 2]

In [48]:
# 23. Merge two lists.

In [49]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Merge the two lists using the + operator
merged_list = list1 + list2

print("Merged list:", merged_list)

Merged list: [1, 2, 3, 4, 5, 6]

In [50]:
# 24. Multiply all elements in a list by 2.

In [51]:
my_list = [1, 2, 3, 4, 5]

# Multiply all elements in the list by 2 using a list comprehension
doubled_list = [x * 2 for x in my_list]

print("Original list:", my_list)
print("Doubled list:", doubled_list)

Original list: [1, 2, 3, 4, 5]
Doubled list: [2, 4, 6, 8, 10]

In [52]:
# 25. Filter out all even numbers from a list.

In [53]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filter out even numbers using a list comprehension
filtered_list = [x for x in my_list if x % 2 != 0]

print("Original list:", my_list)
print("Filtered list (odd numbers only):", filtered_list)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Filtered list (odd numbers only): [1, 3, 5, 7, 9]

In [54]:
# 26. Convert a list of strings to a list of integers.

In [55]:
string_list = ["1", "2", "3", "4", "5"]

# Convert the list of strings to a list of integers
integer_list = [int(x) for x in string_list]

print("Original string list:", string_list)
print("Converted integer list:", integer_list)

Original string list: ['1', '2', '3', '4', '5']
Converted integer list: [1, 2, 3, 4, 5]

In [56]:
# 27. Convert a list of integers to a list of strings.

In [57]:
integer_list = [1, 2, 3, 4, 5]

# Convert the list of integers to a list of strings
string_list = [str(x) for x in integer_list]

print("Original integer list:", integer_list)
print("Converted string list:", string_list)

Original integer list: [1, 2, 3, 4, 5]
Converted string list: ['1', '2', '3', '4', '5']

In [58]:
# 28. Flatten a nested list.

In [59]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Flatten the nested list using a nested list comprehension
flattened_list = [x for sublist in nested_list for x in sublist]

print("Original nested list:", nested_list)
print("Flattened list:", flattened_list)

Original nested list: [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
# 29. Create a list of the first 10 Fibonacci numbers.

In [61]:
# Initialize the first two Fibonacci numbers
fibonacci_numbers = [0, 1]

# Generate the next 8 Fibonacci numbers
for i in range(2, 10):
    next_fibonacci = fibonacci_numbers[i - 1] + fibonacci_numbers[i - 2]
    fibonacci_numbers.append(next_fibonacci)

print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [62]:
# 30. Check if a list is sorted.

In [63]:
def is_sorted(input_list):
    for i in range(len(input_list) - 1):
        if input_list[i] > input_list[i + 1]:
            return False
    return True

my_list = [1, 2, 3, 4, 5]

if is_sorted(my_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [64]:
# 31. Rotate a list to the left by `n` positions.

In [65]:
def rotate_left(lst, n):
    n = n % len(lst)  # Ensure n is within the range of the list length
    return lst[n:] + lst[:n]

my_list = [1, 2, 3, 4, 5]
n = 2  # Number of positions to rotate left

rotated_list = rotate_left(my_list, n)

print("Original list:", my_list)
print(f"List rotated left by {n} positions:", rotated_list)

Original list: [1, 2, 3, 4, 5]
List rotated left by 2 positions: [3, 4, 5, 1, 2]

In [66]:
# 32. Rotate a list to the right by `n` positions.

In [67]:
def rotate_right(lst, n):
    n = n % len(lst)  # Ensure n is within the range of the list length
    return lst[-n:] + lst[:-n]

my_list = [1, 2, 3, 4, 5]
n = 2  # Number of positions to rotate right

rotated_list = rotate_right(my_list, n)

print("Original list:", my_list)
print(f"List rotated right by {n} positions:", rotated_list)

Original list: [1, 2, 3, 4, 5]
List rotated right by 2 positions: [4, 5, 1, 2, 3]

In [68]:
# 33. Create a list of prime numbers up to 50.

In [69]:
def is_prime(num):
    if num <= 1:
        return False
    elif num <= 3:
        return True
    elif num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

# Generate a list of prime numbers up to 50
prime_numbers = [x for x in range(2, 51) if is_prime(x)]

print("Prime numbers up to 50:", prime_numbers)

Prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [70]:
# 34. Split a list into chunks of size `n`.

In [71]:
def split_list_into_chunks(input_list, chunk_size):
    for i in range(0, len(input_list), chunk_size):
        yield input_list[i:i + chunk_size]

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3

chunked_lists = list(split_list_into_chunks(my_list, chunk_size))

print("Original list:", my_list)
print(f"List split into chunks of size {chunk_size}:", chunked_lists)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List split into chunks of size 3: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [72]:
# 35. Find the second largest number in a list.

In [73]:
def second_largest(numbers):
    if len(numbers) < 2:
        return None  # There is no second largest element in a list with less than 2 elements

    largest = second = float('-inf')  # Initialize largest and second with negative infinity

    for num in numbers:
        if num > largest:
            second = largest
            largest = num
        elif num > second and num != largest:
            second = num

    return second

my_list = [1, 3, 7, 5, 2, 8]

second_largest_number = second_largest(my_list)

if second_largest_number is not None:
    print("Second largest number:", second_largest_number)
else:
    print("The list has less than 2 elements.")

Second largest number: 7

In [74]:
# 36. Replace every element in a list with its square.

In [75]:
my_list = [1, 2, 3, 4, 5]

# Replace every element in the list with its square using a list comprehension
squared_list = [x ** 2 for x in my_list]

print("Original list:", my_list)
print("List with elements squared:", squared_list)

Original list: [1, 2, 3, 4, 5]
List with elements squared: [1, 4, 9, 16, 25]

In [76]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [77]:
my_list = ['apple', 'banana', 'cherry', 'date']

# Convert the list to a dictionary with elements as keys and indices as values
my_dict = {element: index for index, element in enumerate(my_list)}

print("Original list:", my_list)
print("Dictionary with elements as keys and indices as values:", my_dict)

Original list: ['apple', 'banana', 'cherry', 'date']
Dictionary with elements as keys and indices as values: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [78]:
# 38. Shuffle the elements of a list randomly.

In [79]:
import random

my_list = [1, 2, 3, 4, 5]

# Shuffle the elements of the list randomly
random.shuffle(my_list)

print("Shuffled list:", my_list)

Shuffled list: [1, 5, 3, 4, 2]

In [80]:
# 39. Create a list of the first 10 factorial numbers.

In [81]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(10)]

print("First 10 factorial numbers:", factorial_numbers)

First 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [82]:
# 40. Check if two lists have at least one element in common.

In [83]:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 6, 7, 8, 9]

# Check if there is at least one common element using any() and a generator expression
common_element_exists = any(x in list1 for x in list2)

if common_element_exists:
    print("The lists have at least one common element.")
else:
    print("The lists have no common elements.")

The lists have at least one common element.

In [84]:
# 41. Remove all elements from a list.

In [85]:
my_list = [1, 2, 3, 4, 5]

# Remove all elements from the list using slicing
my_list[:] = []

print("Empty list:", my_list)

Empty list: []

In [86]:
# 42. Replace negative numbers in a list with 0.

In [87]:
my_list = [1, -2, 3, -4, 5, -6]

# Replace negative numbers with 0 using a list comprehension
updated_list = [x if x >= 0 else 0 for x in my_list]

print("Original list:", my_list)
print("Updated list with negative numbers replaced by 0:", updated_list)

Original list: [1, -2, 3, -4, 5, -6]
Updated list with negative numbers replaced by 0: [1, 0, 3, 0, 5, 0]

In [88]:
# 43. Convert a string into a list of words.

In [89]:
# A sample string
my_string = "This is a sample string."

# Convert the string into a list of words
word_list = my_string.split()

print("Original string:", my_string)
print("List of words:", word_list)

Original string: This is a sample string.
List of words: ['This', 'is', 'a', 'sample', 'string.']

In [90]:
# 44. Convert a list of words into a string.

In [91]:
# A list of words
word_list = ['This', 'is', 'a', 'list', 'of', 'words']

# Convert the list of words into a string
my_string = ' '.join(word_list)

print("List of words:", word_list)
print("Combined string:", my_string)

List of words: ['This', 'is', 'a', 'list', 'of', 'words']
Combined string: This is a list of words

In [92]:
# 45. Create a list of the first `n` powers of 2.

In [93]:
n = 5  # Replace with the desired number of powers of 2
powers_of_2 = []

for i in range(n):
    powers_of_2.append(2 ** i)

print("First", n, "powers of 2:", powers_of_2)

First 5 powers of 2: [1, 2, 4, 8, 16]

In [94]:
# 46. Find the longest string in a list of strings.

In [95]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the longest string in the list
longest_string = max(string_list, key=len)

print("List of strings:", string_list)
print("Longest string:", longest_string)

List of strings: ['apple', 'banana', 'cherry', 'date', 'elderberry']
Longest string: elderberry

In [96]:
# 47. Find the shortest string in a list of strings.

In [97]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the shortest string in the list
shortest_string = min(string_list, key=len)

print("List of strings:", string_list)
print("Shortest string:", shortest_string)

List of strings: ['apple', 'banana', 'cherry', 'date', 'elderberry']
Shortest string: date

In [98]:
# 48. Create a list of the first `n` triangular numbers.

In [99]:
n = 5  # Replace with the desired number of triangular numbers
triangular_numbers = []

for i in range(1, n + 1):
    triangular_number = (i * (i + 1)) // 2
    triangular_numbers.append(triangular_number)

print("First", n, "triangular numbers:", triangular_numbers)

First 5 triangular numbers: [1, 3, 6, 10, 15]

In [100]:
# 49. Check if a list contains another list as a subsequence.

In [101]:
def is_subsequence(subsequence, sequence):
    sub_len = len(subsequence)
    seq_len = len(sequence)
    i = 0
    j = 0

    while i < sub_len and j < seq_len:
        if subsequence[i] == sequence[j]:
            i += 1
        j += 1

    return i == sub_len

# Example lists
larger_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
subsequence_list = [3, 5, 7]

# Check if subsequence_list is a subsequence of larger_list
is_sub = is_subsequence(subsequence_list, larger_list)

if is_sub:
    print("subsequence_list is a subsequence of larger_list.")
else:
    print("subsequence_list is not a subsequence of larger_list.")

subsequence_list is a subsequence of larger_list.

In [102]:
# 50. Swap two elements in a list by their indices.

In [103]:
my_list = [1, 2, 3, 4, 5]

# Define the indices of the elements you want to swap
index1 = 1
index2 = 3

# Perform the swap
my_list[index1], my_list[index2] = my_list[index2], my_list[index1]

print("Original list:", my_list)

Original list: [1, 4, 3, 2, 5]

In [104]:
# Tuple Based Practice Problem :

# 1. Create a tuple with integers from 1 to 5.

In [105]:
my_tuple = (1, 2, 3, 4, 5)

In [106]:
# 2. Access the third element of a tuple.

In [107]:
my_tuple = (1, 2, 3, 4, 5)

# Access the third element (index 2) of the tuple
third_element = my_tuple[2]

print("Third element of the tuple:", third_element)

Third element of the tuple: 3

In [108]:
# 3. Find the length of a tuple without using the `len()` function.

In [109]:
my_tuple = (1, 2, 3, 4, 5)
tuple_length = 0

for _ in my_tuple:
    tuple_length += 1

print("Length of the tuple:", tuple_length)

Length of the tuple: 5

In [110]:
# 4. Count the occurrences of an element in a tuple.

In [111]:
my_tuple = (1, 2, 2, 3, 4, 2, 5, 2)
element_to_count = 2

# Count the occurrences of the element in the tuple
element_count = my_tuple.count(element_to_count)

print(f"Count of {element_to_count} in the tuple: {element_count}")

Count of 2 in the tuple: 4

In [112]:
# 5. Find the index of the first occurrence of an element in a tuple.

In [113]:
my_tuple = (1, 2, 3, 4, 5, 2)
element_to_find = 2

# Find the index of the first occurrence of the element in the tuple
element_index = my_tuple.index(element_to_find)

print(f"Index of the first occurrence of {element_to_find}: {element_index}")

Index of the first occurrence of 2: 1

In [114]:
# 6. Check if an element exists in a tuple.

In [115]:
my_tuple = (1, 2, 3, 4, 5)
element_to_check = 3

# Check if the element exists in the tuple
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

3 exists in the tuple.

In [116]:
# 7. Convert a tuple to a list.

In [117]:
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a list using the list() constructor
my_list = list(my_tuple)

print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (1, 2, 3, 4, 5)
List: [1, 2, 3, 4, 5]

In [118]:
# 8. Convert a list to a tuple.

In [119]:
my_list = [1, 2, 3, 4, 5]

# Convert the list to a tuple using the tuple() constructor
my_tuple = tuple(my_list)

print("List:", my_list)
print("Tuple:", my_tuple)

List: [1, 2, 3, 4, 5]
Tuple: (1, 2, 3, 4, 5)

In [120]:
# 9. Unpack the elements of a tuple into variables.

In [121]:
my_tuple = (1, 2, 3)

# Unpack the elements of the tuple into variables
var1, var2, var3 = my_tuple

print("Tuple:", my_tuple)
print("Unpacked variables:", var1, var2, var3)

Tuple: (1, 2, 3)
Unpacked variables: 1 2 3

In [122]:
# 10. Create a tuple of even numbers from 1 to 10.

In [123]:
# Create a tuple of even numbers from 1 to 10
even_numbers_tuple = tuple(x for x in range(2, 11, 2))

print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

In [124]:
# 11. Create a tuple of odd numbers from 1 to 10.

In [125]:
# Create a tuple of odd numbers from 1 to 10
odd_numbers_tuple = tuple(x for x in range(1, 11, 2))

print("Tuple of odd numbers:", odd_numbers_tuple)

Tuple of odd numbers: (1, 3, 5, 7, 9)

In [126]:
# 12. Concatenate two tuples.

In [127]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenate two tuples
concatenated_tuple = tuple1 + tuple2

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Concatenated tuple:", concatenated_tuple)

Tuple 1: (1, 2, 3)
Tuple 2: (4, 5, 6)
Concatenated tuple: (1, 2, 3, 4, 5, 6)

In [128]:
# 13. Repeat a tuple three times.

In [129]:
my_tuple = (1, 2, 3)

# Repeat the tuple three times
repeated_tuple = my_tuple * 3

print("Original tuple:", my_tuple)
print("Repeated tuple:", repeated_tuple)

Original tuple: (1, 2, 3)
Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [130]:
# 14. Check if a tuple is empty.

In [131]:
my_tuple = ()

# Check if the tuple is empty
if not my_tuple:
    print("The tuple is empty.")
else:
    print("The tuple is not empty.")

The tuple is empty.

In [132]:
# 15. Create a nested tuple.

In [133]:
nested_tuple = ((1, 2), (3, 4), (5, 6))

print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2), (3, 4), (5, 6))

In [134]:
# 16. Access the first element of a nested tuple.

In [135]:
nested_tuple = ((1, 2), (3, 4), (5, 6))

# Access the first element of the first inner tuple
first_element = nested_tuple[0][0]

print("Nested tuple:", nested_tuple)
print("First element of the first inner tuple:", first_element)

Nested tuple: ((1, 2), (3, 4), (5, 6))
First element of the first inner tuple: 1

In [137]:
# 17. Create a tuple with a single element.

In [138]:
single_element_tuple = (42,)

print("Single-element tuple:", single_element_tuple)

Single-element tuple: (42,)

In [139]:
# 18. Compare two tuples.

In [140]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

# Compare the two tuples for equality
if tuple1 == tuple2:
    print("tuple1 and tuple2 are equal.")
else:
    print("tuple1 and tuple2 are not equal.")

# Compare the two tuples for inequality
if tuple1 != tuple2:
    print("tuple1 and tuple2 are not equal.")
else:
    print("tuple1 and tuple2 are equal.")

# Compare two tuples for greater than
if tuple1 > tuple2:
    print("tuple1 is greater than tuple2.")
else:
    print("tuple1 is not greater than tuple2.")

tuple1 and tuple2 are equal.
tuple1 and tuple2 are equal.
tuple1 is not greater than tuple2.

In [141]:
# 19. Delete a tuple.

In [142]:
my_tuple = (1, 2, 3)

# Delete the tuple
del my_tuple

# Attempting to access the tuple after deletion will raise an error
# Uncomment the following line to see the error
# print(my_tuple)

In [143]:
# 20. Slice a tuple.

In [144]:
my_tuple = (1, 2, 3, 4, 5)

# Slice the tuple to create a new tuple with elements from index 1 to 3 (inclusive)
sliced_tuple = my_tuple[1:4]

print("Original tuple:", my_tuple)
print("Sliced tuple:", sliced_tuple)

Original tuple: (1, 2, 3, 4, 5)
Sliced tuple: (2, 3, 4)

In [145]:
# 21. Find the maximum value in a tuple.

In [146]:
my_tuple = (10, 30, 5, 40, 20)

# Find the maximum value in the tuple
max_value = max(my_tuple)

print("Tuple:", my_tuple)
print("Maximum value:", max_value)

Tuple: (10, 30, 5, 40, 20)
Maximum value: 40

In [147]:
#22. Find the minimum value in a tuple.

In [148]:
my_tuple = (10, 30, 5, 40, 20)

# Find the minimum value in the tuple
min_value = min(my_tuple)

print("Tuple:", my_tuple)
print("Minimum value:", min_value)

Tuple: (10, 30, 5, 40, 20)
Minimum value: 5

In [149]:
# 23. Convert a string to a tuple of characters.

In [150]:
my_string = "Hello, World!"

# Convert the string to a tuple of characters using a tuple comprehension
char_tuple = tuple(char for char in my_string)

print("Original string:", my_string)
print("Tuple of characters:", char_tuple)

Original string: Hello, World!
Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [151]:
# 24. Convert a tuple of characters to a string.

In [152]:
char_tuple = ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Convert the tuple of characters to a string using the join() method
resulting_string = ''.join(char_tuple)

print("Tuple of characters:", char_tuple)
print("Resulting string:", resulting_string)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')
Resulting string: Hello, World!

In [153]:
# 25. Create a tuple from multiple data types.

In [154]:
my_tuple = (1, "Hello", 3.14, True)

print("Tuple with multiple data types:", my_tuple)

Tuple with multiple data types: (1, 'Hello', 3.14, True)

In [155]:
# 26. Check if two tuples are identical.

In [156]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

# Check if the two tuples are identical
if tuple1 == tuple2:
    print("The two tuples are identical.")
else:
    print("The two tuples are not identical.")

The two tuples are identical.

In [157]:
# 27. Sort the elements of a tuple.

In [158]:
my_tuple = (5, 1, 3, 2, 4)

# Create a sorted list from the tuple
sorted_list = sorted(my_tuple)

# Convert the sorted list back into a tuple
sorted_tuple = tuple(sorted_list)

print("Original tuple:", my_tuple)
print("Sorted tuple:", sorted_tuple)

Original tuple: (5, 1, 3, 2, 4)
Sorted tuple: (1, 2, 3, 4, 5)

In [159]:
# 28. Convert a tuple of integers to a tuple of strings.

In [160]:
tuple_of_integers = (1, 2, 3, 4, 5)

# Convert the tuple of integers to a tuple of strings
tuple_of_strings = tuple(str(x) for x in tuple_of_integers)

print("Tuple of integers:", tuple_of_integers)
print("Tuple of strings:", tuple_of_strings)

Tuple of integers: (1, 2, 3, 4, 5)
Tuple of strings: ('1', '2', '3', '4', '5')

In [161]:
# 29. Convert a tuple of strings to a tuple of integers.

In [162]:
tuple_of_strings = ('1', '2', '3', '4', '5')

# Convert the tuple of strings to a tuple of integers
tuple_of_integers = tuple(int(x) for x in tuple_of_strings)

print("Tuple of strings:", tuple_of_strings)
print("Tuple of integers:", tuple_of_integers)

Tuple of strings: ('1', '2', '3', '4', '5')
Tuple of integers: (1, 2, 3, 4, 5)

In [163]:
# 30. Merge two tuples.

In [164]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Merge two tuples by concatenating them
merged_tuple = tuple1 + tuple2

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Merged tuple:", merged_tuple)

Tuple 1: (1, 2, 3)
Tuple 2: (4, 5, 6)
Merged tuple: (1, 2, 3, 4, 5, 6)

In [165]:
# 31. Flatten a nested tuple.

In [166]:
def flatten_nested_tuple(nested_tuple):
    flat_list = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flat_list.extend(flatten_nested_tuple(item))
        else:
            flat_list.append(item)
    return tuple(flat_list)

nested_tuple = ((1, 2), (3, (4, 5)), 6, (7, 8))

# Flatten the nested tuple
flat_tuple = flatten_nested_tuple(nested_tuple)

print("Nested tuple:", nested_tuple)
print("Flattened tuple:", flat_tuple)

Nested tuple: ((1, 2), (3, (4, 5)), 6, (7, 8))
Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [167]:
# 32. Create a tuple of the first 5 prime numbers.

In [168]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers = []
num = 2
while len(prime_numbers) < 5:
    if is_prime(num):
        prime_numbers.append(num)
    num += 1

# Create a tuple from the list of prime numbers
prime_tuple = tuple(prime_numbers)

print("Tuple of the first 5 prime numbers:", prime_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [169]:
# 33. Check if a tuple is a palindrome.

In [170]:
def is_palindrome(my_tuple):
    return my_tuple == my_tuple[::-1]

# Test cases
tuple1 = (1, 2, 3, 2, 1)
tuple2 = (1, 2, 3, 4, 5)

print("Tuple 1:", tuple1)
if is_palindrome(tuple1):
    print("Tuple 1 is a palindrome.")
else:
    print("Tuple 1 is not a palindrome.")

print("\nTuple 2:", tuple2)
if is_palindrome(tuple2):
    print("Tuple 2 is a palindrome.")
else:
    print("Tuple 2 is not a palindrome.")

Tuple 1: (1, 2, 3, 2, 1)
Tuple 1 is a palindrome.

Tuple 2: (1, 2, 3, 4, 5)
Tuple 2 is not a palindrome.

In [171]:
# 34. Create a tuple of squares of numbers from 1 to 5.

In [172]:
# Using a list comprehension to calculate the squares of numbers from 1 to 5
squares_list = [x ** 2 for x in range(1, 6)]

# Convert the list of squares to a tuple
squares_tuple = tuple(squares_list)

print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [173]:
# 35. Filter out all even numbers from a tuple.

In [174]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Filter out even numbers and create a new tuple with only odd numbers
odd_numbers_tuple = tuple(x for x in original_tuple if x % 2 != 0)

print("Original tuple:", original_tuple)
print("Tuple with odd numbers:", odd_numbers_tuple)

Original tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
Tuple with odd numbers: (1, 3, 5, 7, 9)

In [175]:
# 36. Multiply all elements in a tuple by 2.

In [176]:
original_tuple = (1, 2, 3, 4, 5)

# Create a new tuple with elements multiplied by 2
new_tuple = tuple(x * 2 for x in original_tuple)

print("Original tuple:", original_tuple)
print("New tuple with elements multiplied by 2:", new_tuple)

Original tuple: (1, 2, 3, 4, 5)
New tuple with elements multiplied by 2: (2, 4, 6, 8, 10)

In [177]:
# 37. Create a tuple of random numbers.

In [178]:
import random

# Generate a tuple of 5 random integers between 1 and 100
random_numbers = tuple(random.randint(1, 100) for _ in range(5))

print("Tuple of random numbers:", random_numbers)

Tuple of random numbers: (40, 39, 42, 95, 16)

In [179]:
# 38. Check if a tuple is sorted.

In [180]:
def is_sorted(my_tuple):
    return all(my_tuple[i] <= my_tuple[i+1] for i in range(len(my_tuple)-1))

# Test cases
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (3, 1, 4, 1, 5, 9, 2, 6)

print("Sorted tuple:", sorted_tuple)
if is_sorted(sorted_tuple):
    print("The tuple is sorted in ascending order.")
else:
    print("The tuple is not sorted in ascending order.")

print("\nUnsorted tuple:", unsorted_tuple)
if is_sorted(unsorted_tuple):
    print("The tuple is sorted in ascending order.")
else:
    print("The tuple is not sorted in ascending order.")

Sorted tuple: (1, 2, 3, 4, 5)
The tuple is sorted in ascending order.

Unsorted tuple: (3, 1, 4, 1, 5, 9, 2, 6)
The tuple is not sorted in ascending order.

In [181]:
# 39. Rotate a tuple to the left by `n` positions.

In [182]:
def rotate_left(my_tuple, n):
    # Calculate the effective rotation index
    n = n % len(my_tuple)
    
    # Create the rotated tuple by slicing and reordering
    rotated_tuple = my_tuple[n:] + my_tuple[:n]
    
    return rotated_tuple

original_tuple = (1, 2, 3, 4, 5)

# Rotate the tuple to the left by 2 positions
rotated_tuple = rotate_left(original_tuple, 2)

print("Original tuple:", original_tuple)
print("Rotated tuple:", rotated_tuple)

Original tuple: (1, 2, 3, 4, 5)
Rotated tuple: (3, 4, 5, 1, 2)

In [183]:
# 40. Rotate a tuple to the right by `n` positions.

In [184]:
def rotate_right(my_tuple, n):
    # Calculate the effective rotation index
    n = n % len(my_tuple)
    
    # Create the rotated tuple by slicing and reordering
    rotated_tuple = my_tuple[-n:] + my_tuple[:-n]
    
    return rotated_tuple

original_tuple = (1, 2, 3, 4, 5)

# Rotate the tuple to the right by 2 positions
rotated_tuple = rotate_right(original_tuple, 2)

print("Original tuple:", original_tuple)
print("Rotated tuple:", rotated_tuple)

Original tuple: (1, 2, 3, 4, 5)
Rotated tuple: (4, 5, 1, 2, 3)

In [185]:
# 41. Create a tuple of the first 5 Fibonacci numbers.

In [186]:
def generate_fibonacci(n):
    fibonacci_numbers = []
    a, b = 0, 1
    for _ in range(n):
        fibonacci_numbers.append(a)
        a, b = b, a + b
    return tuple(fibonacci_numbers)

# Generate a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)

print("Tuple of the first 5 Fibonacci numbers:", fibonacci_tuple)

Tuple of the first 5 Fibonacci numbers: (0, 1, 1, 2, 3)

In [187]:
# 42. Create a tuple from user input.

In [188]:
# Get user input for each element of the tuple
element1 = input("Enter the first element: ")
element2 = input("Enter the second element: ")
element3 = input("Enter the third element: ")

# Convert input values to the desired data type (e.g., int, float)
try:
    element1 = int(element1)
    element2 = int(element2)
    element3 = int(element3)
except ValueError:
    print("Invalid input. Please enter valid numbers.")
    exit(1)  # Exit the program if input is not valid

# Create a tuple from the input values
user_tuple = (element1, element2, element3)

print("User input tuple:", user_tuple)

Enter the first element:  10
Enter the second element:  10
Enter the third element:  10

User input tuple: (10, 10, 10)

In [189]:
# 43. Swap two elements in a tuple.

In [190]:
# Original tuple
my_tuple = (1, 2, 3, 4, 5)

# Indices of the elements to swap
index1 = 1
index2 = 3

# Convert the tuple to a list to perform the swap
tuple_list = list(my_tuple)

# Swap the elements
tuple_list[index1], tuple_list[index2] = tuple_list[index2], tuple_list[index1]

# Create a new tuple with the elements swapped
swapped_tuple = tuple(tuple_list)

print("Original tuple:", my_tuple)
print("Tuple with elements swapped:", swapped_tuple)

Original tuple: (1, 2, 3, 4, 5)
Tuple with elements swapped: (1, 4, 3, 2, 5)

In [191]:
# 44. Reverse the elements of a tuple.

In [192]:
# Original tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements and create a new tuple
reversed_tuple = my_tuple[::-1]

print("Original tuple:", my_tuple)
print("Reversed tuple:", reversed_tuple)

Original tuple: (1, 2, 3, 4, 5)
Reversed tuple: (5, 4, 3, 2, 1)

In [193]:
# 45. Create a tuple of the first `n` powers of 2.

In [194]:
# Function to generate the first n powers of 2
def powers_of_2(n):
    power_of_2_tuple = ()
    for i in range(n):
        power_of_2_tuple += (2 ** i,)
    return power_of_2_tuple

# Number of powers of 2 to generate
n = 5

# Create a tuple of the first n powers of 2
power_tuple = powers_of_2(n)

print("Tuple of the first", n, "powers of 2:", power_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [195]:
# 46. Find the longest string in a tuple of strings.

In [196]:
# Tuple of strings
my_tuple = ("apple", "banana", "cherry", "date", "elderberry")

# Find the longest string using the max function
longest_string = max(my_tuple, key=len)

print("Tuple of strings:", my_tuple)
print("Longest string:", longest_string)

Tuple of strings: ('apple', 'banana', 'cherry', 'date', 'elderberry')
Longest string: elderberry

In [197]:
# 47. Find the shortest string in a tuple of strings.

In [198]:
# Tuple of strings
my_tuple = ("apple", "banana", "cherry", "date", "elderberry")

# Find the shortest string using the min function
shortest_string = min(my_tuple, key=len)

print("Tuple of strings:", my_tuple)
print("Shortest string:", shortest_string)

Tuple of strings: ('apple', 'banana', 'cherry', 'date', 'elderberry')
Shortest string: date

In [199]:
# 48. Create a tuple of the first `n` triangular numbers.

In [200]:
# Function to generate the first n triangular numbers
def generate_triangular_numbers(n):
    triangular_numbers = ()
    for i in range(1, n + 1):
        triangular_numbers += (i * (i + 1) // 2,)
    return triangular_numbers

# Number of triangular numbers to generate
n = 5

# Create a tuple of the first n triangular numbers
triangular_tuple = generate_triangular_numbers(n)

print("Tuple of the first", n, "triangular numbers:", triangular_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [201]:
# 49. Check if a tuple contains another tuple as a subsequence.

In [202]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, subsequence_tuple):
    subsequence_len = len(subsequence_tuple)
    for i in range(len(main_tuple) - subsequence_len + 1):
        if main_tuple[i:i+subsequence_len] == subsequence_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8)

# Subsequence tuple to search for
subsequence_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
if contains_subsequence(main_tuple, subsequence_tuple):
    print("Main tuple contains the subsequence tuple.")
else:
    print("Main tuple does not contain the subsequence tuple.")

Main tuple contains the subsequence tuple.

In [203]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.

In [204]:
# Function to create a tuple of alternating 1s and 0s
def alternating_ones_and_zeros(n):
    return tuple(1 if i % 2 == 0 else 0 for i in range(n))

# Length of the tuple
n = 10  # Change this to the desired length

# Create the tuple of alternating 1s and 0s
alternating_tuple = alternating_ones_and_zeros(n)

print("Tuple of alternating 1s and 0s (length", n, "):", alternating_tuple)

Tuple of alternating 1s and 0s (length 10 ): (1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

In [205]:
# Set Based Practice Problem :

# 1. Create a set with integers from 1 to 5.

In [1]:
my_set = {1, 2, 3, 4, 5}

In [2]:
# 2. Add an element to a set.

In [3]:
my_set = {1, 2, 3, 4, 5}  # Existing set

# Adding an element to the set
my_set.add(6)

print(my_set)

{1, 2, 3, 4, 5, 6}

In [4]:
# 3. Remove an element from a set.

In [5]:
my_set = {1, 2, 3, 4, 5}  # Existing set

# Remove an element from the set
my_set.remove(3)

print(my_set)

{1, 2, 4, 5}

In [6]:
# 4. Check if an element exists in a set.

In [7]:
my_set = {1, 2, 3, 4, 5}  # Existing set

# Check if an element exists in the set
element_to_check = 3

if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

3 exists in the set.

In [8]:
# 5. Find the length of a set without using the `len()` function.

In [9]:
my_set = {1, 2, 3, 4, 5}  # Existing set
count = 0

# Iterate through the set and count the elements
for _ in my_set:
    count += 1

print("Length of the set:", count)

Length of the set: 5

In [10]:
# 6. Clear all elements from a set.

In [11]:
my_set = {1, 2, 3, 4, 5}  # Existing set

# Clear all elements from the set
my_set.clear()

print(my_set)  # This will print an empty set: set()

set()

In [12]:
# 7. Create a set of even numbers from 1 to 10.

In [13]:
even_numbers_set = {x for x in range(1, 11) if x % 2 == 0}

In [15]:
even_numbers_set

{2, 4, 6, 8, 10}

In [16]:
# 8. Create a set of odd numbers from 1 to 10.

In [17]:
odd_numbers_set = {x for x in range(1, 11) if x % 2 != 0}

In [18]:
odd_numbers_set

{1, 3, 5, 7, 9}

In [19]:
# 9. Find the union of two sets.

In [20]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [21]:
# 10. Find the intersection of two sets.

In [22]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_set = set1.intersection(set2)

print(intersection_set)

{4, 5}

In [23]:
# 11. Find the difference between two sets.

In [24]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

difference_set = set1.difference(set2)

print(difference_set)

{1, 2, 3}

In [25]:
# 12. Check if a set is a subset of another set.

In [26]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [27]:
# 13. Check if a set is a superset of another set.

In [28]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4}

# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [29]:
# 14. Create a set from a list.

In [30]:
my_list = [1, 2, 3, 4, 5]  # Example list

# Create a set from the list
my_set = set(my_list)

print(my_set)

{1, 2, 3, 4, 5}

In [31]:
# 15. Convert a set to a list.

In [32]:
my_set = {1, 2, 3, 4, 5}  # Example set

# Convert the set to a list
my_list = list(my_set)

print(my_list)

[1, 2, 3, 4, 5]

In [33]:
# 16. Remove a random element from a set.

In [34]:
import random

my_set = {1, 2, 3, 4, 5}  # Example set

# Choose a random element and remove it from the set
random_element = my_set.pop()

print(f"Removed random element: {random_element}")
print(f"Updated set: {my_set}")

Removed random element: 1
Updated set: {2, 3, 4, 5}

In [35]:
#17. Pop an element from a set.

In [36]:
my_set = {1, 2, 3, 4, 5}  # Example set

# Pop an element from the set
popped_element = my_set.pop()

print(f"Popped element: {popped_element}")
print(f"Updated set: {my_set}")

Popped element: 1
Updated set: {2, 3, 4, 5}

In [37]:
# 18. Check if two sets have no elements in common.

In [38]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if set1 and set2 have no elements in common
no_common_elements = set1.isdisjoint(set2)

if no_common_elements:
    print("set1 and set2 have no elements in common")
else:
    print("set1 and set2 have common elements")

set1 and set2 have no elements in common

In [39]:
# 19. Find the symmetric difference between two sets.

In [40]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

symmetric_diff_set = set1.symmetric_difference(set2)

print(symmetric_diff_set)

{1, 2, 3, 6, 7, 8}

In [41]:
# 20. Update a set with elements from another set.

In [42]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2
set1.update(set2)

print(set1)

{1, 2, 3, 4, 5}

In [43]:
# 21. Create a set of the first 5 prime numbers.

In [44]:
prime_numbers = {2, 3, 5, 7, 11}

In [45]:
prime_numbers

{2, 3, 5, 7, 11}

In [46]:
# 22. Check if two sets are identical.

In [47]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5}

if set1 == set2:
    print("The sets are identical")
else:
    print("The sets are not identical")

The sets are identical

In [48]:
# 23. Create a frozen set.

In [49]:
my_set = {1, 2, 3, 4, 5}  # Example set

# Create a frozen set from the set
my_frozen_set = frozenset(my_set)

print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

In [50]:
# 24. Check if a set is disjoint with another set.

In [51]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The sets are disjoint (they have no elements in common)")
else:
    print("The sets have at least one element in common")

The sets are disjoint (they have no elements in common)

In [52]:
# 25. Create a set of squares of numbers from 1 to 5.

In [53]:
squares_set = {x ** 2 for x in range(1, 6)}

print(squares_set)

{1, 4, 9, 16, 25}

In [54]:
#26. Filter out all even numbers from a set.

In [55]:
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Filter out even numbers using a set comprehension
odd_numbers_set = {x for x in original_set if x % 2 != 0}

print(odd_numbers_set)

{1, 3, 5, 7, 9}

In [56]:
# 27. Multiply all elements in a set by 2.

In [57]:
original_set = {1, 2, 3, 4, 5}

# Convert the set to a list, multiply each element by 2, and convert it back to a set
result_set = set(x * 2 for x in original_set)

print(result_set)

{2, 4, 6, 8, 10}

In [58]:
# 28. Create a set of random numbers.

In [59]:
import random

random_set = set()

# Generate 5 random numbers and add them to the set
for _ in range(5):
    random_number = random.randint(1, 100)  # Adjust the range as needed
    random_set.add(random_number)

print(random_set)

{8, 62, 46, 1}

In [60]:
# 29. Check if a set is empty.

In [61]:
my_set = set()  # Create an empty set

if len(my_set) == 0:
    print("The set is empty")
else:
    print("The set is not empty")

The set is empty

In [62]:
# 30. Create a nested set (hint: use frozenset).

In [63]:
nested_set = {frozenset({1, 2}), frozenset({3, 4, 5}), frozenset({6, 7, 8, 9})}

print(nested_set)

{frozenset({3, 4, 5}), frozenset({1, 2}), frozenset({8, 9, 6, 7})}

In [64]:
# 31. Remove an element from a set using the discard method.

In [65]:
my_set = {1, 2, 3, 4, 5}

# Remove an element using the discard() method
my_set.discard(3)

print(my_set)

{1, 2, 4, 5}

In [66]:
# 32. Compare two sets.

In [67]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets are equal")
else:
    print("The sets are not equal")

The sets are equal

In [68]:
# 33. Create a set from a string.

In [69]:
my_string = "hello"
string_set = {char for char in my_string}

print(string_set)

{'o', 'e', 'h', 'l'}

In [70]:
# 34. Convert a set of strings to a set of integers.

In [71]:
string_set = {"1", "2", "3", "4", "5"}

# Convert the set of strings to a set of integers
integer_set = {int(x) for x in string_set}

print(integer_set)

{1, 2, 3, 4, 5}

In [72]:
# 35. Convert a set of integers to a set of strings.

In [73]:
integer_set = {1, 2, 3, 4, 5}

# Convert the set of integers to a set of strings
string_set = {str(x) for x in integer_set}

print(string_set)

{'5', '4', '2', '3', '1'}

In [74]:
# 36. Create a set from a tuple.

In [75]:
my_tuple = (1, 2, 3, 4, 5)  # Example tuple

# Create a set from the tuple
my_set = set(my_tuple)

print(my_set)

{1, 2, 3, 4, 5}

In [76]:
# 37. Convert a set to a tuple.

In [77]:
my_set = {1, 2, 3, 4, 5}  # Example set

# Convert the set to a tuple
my_tuple = tuple(my_set)

print(my_tuple)

(1, 2, 3, 4, 5)

In [78]:
# 38. Find the maximum value in a set.

In [79]:
my_set = {12, 45, 6, 78, 54, 32}

# Find the maximum value in the set
max_value = max(my_set)

print("Maximum value in the set:", max_value)

Maximum value in the set: 78

In [80]:
# 39. Find the minimum value in a set.

In [81]:
my_set = {12, 45, 6, 78, 54, 32}

# Find the minimum value in the set
min_value = min(my_set)

print("Minimum value in the set:", min_value)

Minimum value in the set: 6

In [82]:
# 40. Create a set from user input.

In [83]:
user_set = set()

while True:
    user_input = input("Enter an element (or 'q' to quit): ")
    
    if user_input == 'q':
        break  # Exit the loop if the user enters 'q'
    
    user_set.add(user_input)

print("User-set:", user_set)

Enter an element (or 'q' to quit):  I am a student of data science
Enter an element (or 'q' to quit):  I am working on my assignment today
Enter an element (or 'q' to quit):  it is about to complete
Enter an element (or 'q' to quit):  quit
Enter an element (or 'q' to quit):  quit
Enter an element (or 'q' to quit):  q

User-set: {'it is about to complete', 'I am working on my assignment today', 'I am a student of data science', 'quit'}

In [84]:
# 41. Check if the intersection of two sets is empty.

In [85]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

# Check if the intersection of set1 and set2 is empty
intersection_empty = set1.isdisjoint(set2)

if intersection_empty:
    print("The intersection is empty")
else:
    print("The intersection is not empty")

The intersection is empty

In [86]:
# 42. Create a set of the first 5 Fibonacci numbers.

In [87]:
fibonacci_set = set()
a, b = 0, 1

while len(fibonacci_set) < 5:
    fibonacci_set.add(a)
    a, b = b, a + b

print(fibonacci_set)

{0, 1, 2, 3, 5}

In [88]:
# 43. Remove duplicates from a list using sets.

In [89]:
my_list = [1, 2, 2, 3, 4, 4, 5, 5]

# Remove duplicates from the list using sets
my_list = list(set(my_list))

print(my_list)

[1, 2, 3, 4, 5]

In [90]:
# 44. Check if two sets have the same elements, regardless of their count.

In [91]:
from collections import Counter

set1 = {1, 2, 2, 3, 4}
set2 = {4, 3, 2, 1}

# Convert sets to Counters and compare them
counter1 = Counter(set1)
counter2 = Counter(set2)

if counter1 == counter2:
    print("The sets have the same elements (regardless of count)")
else:
    print("The sets do not have the same elements")

The sets have the same elements (regardless of count)

In [92]:
# 45. Create a set of the first `n` powers of 2.

In [93]:
n = 5  # Change n to the desired number of powers
powers_of_2_set = {2 ** i for i in range(n)}

print(powers_of_2_set)

{1, 2, 4, 8, 16}

In [94]:
# 46. Find the common elements between a set and a list.

In [95]:
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

# Find common elements using the intersection method
common_elements = my_set.intersection(my_list)

print(list(common_elements))

[3, 4, 5]

In [96]:
# 47. Create a set of the first `n` triangular numbers.

In [97]:
n = 5  # Change n to the desired number of triangular numbers
triangular_numbers_set = {i * (i + 1) // 2 for i in range(1, n + 1)}

print(triangular_numbers_set)

{1, 3, 6, 10, 15}

In [98]:
# 48. Check if a set contains another set as a subset.

In [99]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}

# Check if set2 is a subset of set1 using issubset()
if set2.issubset(set1):
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [100]:
# 49. Create a set of alternating 1s and 0s of length `n`.