In [2]:
# Q1. How do you comment code in Python? What are the different types of comments?

In [9]:
# There are two type of comments which we can write on python.
# 1 - Single line comments
print("Hello Pwskills family")

# 2 - Multiple line/docstrings comments. These comments are useful to provide contex to your code and it is easier to under and helpful also for
# future reference. For example:

"""
I am writting this comments here for example of multiple lines
of comments so that it will be easier to understand and take a 
reference in future.
"""

Hello Pwskills family

'\nI am writting this comments here for example of multiple lines\nof comments so that it will be easier to understand and take a \nreference in future.\n'

In [10]:
# Q2.What are variables in Python? How do you declare and assign values to variables?

In [13]:
# Variables are used to store and manage data. A variable is a named location in memory where you can store a value.
# for example
name = "Rahil Malik"
age = 30
hight = 5.11
is_student = True

# these are example of variable which I used above. Name is string, age is int, hight is float and is_stundent is a boolean.

In [14]:
# Q3. How do you convert one data type to another in Python?

In [24]:
# Yes, we can convert one data type to another on python through "type_casting or type_conversion". Here are some examples of it.

float_num = 3.14
int_num = int(float_num)

int_num = 90
float_num = float(int_num)

number = 123456789
text = str(number)

# Note - We can't convert all data type to another, for example can't convert complete string to a float/int if it will not have any int/float value
# similarly we also lost data in some conversion, for example when we change float to int than it will loss the decimal value

In [20]:
type(float_num)

float

In [21]:
print(int_num)

3

In [22]:
type(int_num)

int

In [25]:
# Q4. How do you write and execute a Python script from the command line?

In [1]:
# We need to follow these steps to write and execute Python script
# 1. Login on Lab with your crediantial or Pwskills my lab option
# 2. We are using Jupiter lab for our learning 
# 3. Create a script from Launcher home page and select Python 3
# 4. Write a code as per the requirement
# 5. Execute it through short key of Shift+Enter or play button showing on above commeand panel

# Here is the example:

print("Hello, pwskills family")

Hello, pwskills family

In [2]:
# Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [3]:
# Here is the list which we need to create
l = [1, 2, 3, 4, 5]

In [8]:
l[1:3]

[2, 3]

In [9]:
# Q6. What is a complex number in mathematics, and how is it represented in Python?

In [13]:
# So complex number in mathmatics is a number which contain a real + imaginary number

# For example - 5+2a

# in above example 5 is a real number and 2 is imaginary

In [17]:
a = 4+2j

In [18]:
b = 5+2j

In [19]:
result_add = a+b

In [20]:
print(result_add)

(9+4j)

In [21]:
result_mul = a*b

In [22]:
print(result_mul)

(16+18j)

In [23]:
# Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [24]:
# Here is the example to declare age variable with given number

age = 25

In [27]:
age

25

In [28]:
# Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [29]:
# Here is the example to declare the price value with given number
price = 9.99

In [30]:
price

9.99

In [31]:
type(price)

float

In [32]:
# Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [33]:
# Here is the correct format to declare full name
name = "Rahil Malik"

In [34]:
name

'Rahil Malik'

In [35]:
type(name)

str

In [36]:
# Q10. Given the string "Hello, World!", extract the substring "World".

In [37]:
s = "Hello World!"

In [38]:
s

'Hello World!'

In [44]:
s[6:11]

'World'

In [45]:
# Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [51]:
# Here is the require input for this

is_student = True # if you are a student
is_student = False # if you are not a student

In [48]:
type(is_student)

bool